* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif
}
a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 24px 40px;
  /* background: #fff; */
  position: relative;
  z-index: 950;
}

.header__logo {
  font-weight: 600;
  font-size: 20px;
  align-items: center; 
}

.header__logo span {
  font-size: 12px;
  vertical-align: super;
}

.header__logo .logo-registered {
  width: 30px; 
  height: auto; 
}


/* BUSCADOR */
.header__search {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
  width: 400px;
  transition: transform 0.3s ease;
}
.search-prefix {
  position: absolute;
  left: 0;
  bottom: 8px;                 /* alinea con la línea */
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: #bbb;
  pointer-events: none;
}
.header__search input {
  width: 100%;
  padding: 8px 28px 8px 13px;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  background: transparent;
  font-size: 16px;
  outline: none;
  color: #000;
}

.header__search input::placeholder {
  color: #bbb;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #bbb;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header__icon {
  font-size: 20px;
  cursor: pointer;
}

/* OVERLAY GRIS */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  padding-top: 96px; 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 900;
  inset: 0;
}

/* CONTENIDO */


.search-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  cursor: pointer;
  position: relative;
}

.search-content span {
  font-size: 30x;
  color: #999;
  font-weight: 400;
  align-self: center;
}

.search-content p {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
  line-height: 1.1;
  cursor: pointer;
  transition: opacity 0.25s ease;
  color: #CFCFCF;
}

.search-item:hover span,
.search-item:hover p {
  color: #000;
}

.search-open .search-overlay {
  opacity: 1;
  pointer-events: auto;
}

/* .search-open .header__search input {
  background: #fff;
} */

/* .search-open .header {
  background: #f0f0f0;
}

.search-open .header__search input {
  background: #fff;
} */

.search-open .search-icon,
.search-open .header__icon {
  color: #555;
}

/* Cruz para cerrar búsqueda */
.header__search::after {
  content: "✕";
  position: absolute;
  right: 38px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #777;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.search-open .header__search::after {
  opacity: 1;
  pointer-events: auto;
}

.search-close {
  position: absolute;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%) scale(0.5); 
  font-size: 14px;
  color: #777;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.search-open .search-close {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) scale(1); 
}


.search-open .header__search {
  transform: translateX(-470px); 
  transition: transform 0.3s ease; 
}

.search-item::after {
  content: "/";
  position: absolute;
  left: 26px;          /* ajusta según tu diseño */
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #000;

  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.search-item:hover::after {
  opacity: 1;
}

/* CONTENEDOR GENERAL */
.search-wrapper {
  display: grid;
  grid-template-columns: 420px 1fr;
  height: calc(100vh - 96px);
  padding: 40px 80px;
}

/* LISTA IZQUIERDA */
.search-content {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  row-gap: 28px;
  padding: 40px;
  margin-top: 120px;
  margin-left: 80px;
  font-family: "Space Mono", monospace;

  display: grid;
  grid-template-columns: 1fr; /* 👈 UNA columna */
  row-gap: 28px;
}

.search-content p {
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  line-height: 1.1;
  cursor: pointer;
  transition: opacity 0.25s ease;
  transition: color 0.25s ease, transform 0.25s ease;
}

.search-item:hover p {
  transform: translateX(12px); /* ajusta a gusto */
}

body.search-open {
  overflow: hidden;
}


/* GALERÍA DERECHA */
.hover-gallery {
  position: absolute;
  top: 220px;
  right: 10px;
  width: 660px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  pointer-events: none;
  opacity: 0;
  transform: translateY(80px);
  transition:
    opacity 0.35s ease,
    transform 0.6s cubic-bezier(.19,1,.22,1);
  overflow: visible;
}

/* Contenedor oculto para efecto “mascara” */
.hover-img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 👈 oculta la parte de la imagen que está fuera */
  position: relative;
}

.hover-img-wrapper img {
  width: 100%;
  transform: translateY(50px); /* empieza abajo */
  opacity: 0;
  transition:
    transform 0.6s cubic-bezier(.19,1,.22,1),
    opacity 0.35s ease 0.1s;
}

/* Estado visible de la galería */
.hover-gallery.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Cuando la galería es visible, animamos las imágenes */
.hover-gallery.is-visible .hover-img-wrapper img {
  transform: translateY(0); /* sube desde detrás */
  opacity: 1;
}


